<div class="col-md-4 col-sm-6 portfolio-item">
    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
        <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <div class="text-muted">{{opportunity_date}} // {{opportunity_start_time}} - {{opportunity_end_time}}
                    <br />{{organization_address}}
                    <br />{{organization_city}}, {{organization_state}} {{organization_zip}}
                </div>
            </div>
        </div>
        <img class="img-fluid" src="{{opportunity_photo_Url}}" alt="opportunity_photo">
    </a>
    <div class="portfolio-caption">
        <h4>{{organization_name}}</h4>
        <p class="text-muted">{{opportunity_name}}</p>
        <button class="register" data-id="{{id}}" data-register="{{register}}">
            {{#if register}}Unenroll{{else}}Register{{/if}}
        </button>
    </div>
</div>