<div class="col-md-4 col-sm-6 portfolio-item">
    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
        <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <p class="text-muted">{{organization_address}}</p>
                <p class="text-muted">{{organization_city}}</p>
                <p class="text-muted">{{organization_state}}</p>
                <p class="text-muted">{{organization_zip}}</p>
                <p class="text-muted">{{opportunity_data}}</p>
                <p class="text-muted">{{opportunity_start_time}}</p>
                <p class="text-muted">{{opportunity_end_time}}</p>
            </div>
        </div>
        <img class="img-fluid" src="{{opportunity_photo_Url}}" alt="opportunity_photo">
    </a>
    <div class="portfolio-caption">
        <h4>{{organization_name}}</h4>
        <p class="text-muted">{{opportunity_name}}</p>
        <button class="register" data-id="{{id}}" data-register="{{register}}">
        {{#if register}}Unenroll{{else}}Register{{/if}}
    </button>
    </div>
</div>